---
import Header from "@components/Header.svelte";
import Game from "@components/Game.svelte";
import "../app.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Test your knowledge of dog breeds with this fun quiz game! Each of the 12 questions features a picture of a dog and 4 possible breed names to choose from. See how many you can get right and learn more about different dog breeds in the process."
    />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="https://www.barkquiz.com/" />
    <meta name="author" content="Gustavo Neiva" />
    <title>Bark Quiz</title>

    <meta property="og:title" content="Bark Quiz" />
    <meta
      property="og:description"
      content="Test your knowledge of dog breeds with this fun quiz game! Each of the 12 questions features a picture of a dog and 4 possible breed names to choose from. See how many you can get right and learn more about different dog breeds in the process."
    />
    <meta property="og:url" content="https://www.barkquiz.com/" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Bark Quiz" />
    <meta
      name="twitter:description"
      content="Test your knowledge of dog breeds with this fun quiz game! Each of the 12 questions features a picture of a dog and 4 possible breed names to choose from. See how many you can get right and learn more about different dog breeds in the process."
    />

    <link
      rel="prefetch"
      href="https://res.cloudinary.com/dohfsgcbx/raw/upload/v1717994260/dog-walking_qlrcbk.json"
      as="fetch"
      type="application/json"
      crossorigin
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2FJLM58FS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-P2FJLM58FS");
    </script>
    <script src="https://analytics.stacc.cc/api/script/ofHG8EiRIa8V"></script>
  </head>
  <body class="game">
    <Header client:load />
    <Game client:only />
  </body>
</html>

<style>
  .game {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
  }
</style>
