/* Write your global styles here, in PostCSS syntax */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #251d3a;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: #fafaff;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #e04d01;
}
